* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('/images/bg.png') no-repeat center center fixed;
    background-size: cover;}

/* ===== TITLE ===== */
h2 {
    margin: 30px 50px 10px;
    color: #333;
}

/* ===== CARDS ===== */
.card-container {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin: 20px 50px;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 220px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card h4 {
    font-size: 15px;
    color: #333;
}

.card span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.card img {
    width: 35px;
}

/* ===== TABLE ===== */
.table-container {
    background: white;
    margin: 30px 50px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background-color: #b7e9f7;
    color: #333;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
}

/* ===== STATUS & URGENCY ===== */
.status-belum {
    background-color: #ffbcbc;
    color: #8b0000;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 13px;
}

.status-sedang {
    background-color: #b7f7b7;
    color: #006400;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 13px;
}

.urgensi-mendesak {
    color: #ff3b3b;
    font-weight: 600;
}

.urgensi-tidak {
    color: #007bff;
    font-weight: 600;
}

/* ===== BUTTON ===== */
.btn-detail {
    background-color: #007bff;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 13px;
    transition: background-color 0.3s;
}

.btn-detail:hover {
    background-color: #0056b3;
}
 .btn-delete {
    background-color: #e63946;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #b71c1c;
}
    .btn-edit {
        background-color: #1d3557;
        color: white;
        padding: 6px 12px;
        border-radius: 5px;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }