body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/bg.png') no-repeat center center / cover;
  opacity: 0.35;
  z-index: -1;
}

.header {
  text-align: center;
  padding: 40px 20px 10px;
  text-shadow: #444 1px 1px 2px;
}

.header h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 8px;
  text-shadow: #333 2px 2px 4px;
}

.header p {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.info-container {
  padding: 30px 100px 60px;
}

.info-card {
  background: white;
  border-radius: 20px;
  padding: 30px 35px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  line-height: 1.6;
}

.info-card h3 {
  margin-top: 0;
  color: #090e63;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.info-card p,
.info-card li {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  text-align: justify;
}

.info-card ul {
  padding-left: 20px;
}

/* GRID 3 CARD JENIS LAPORAN */
.jenis-wrapper h3 {
  margin-bottom: 25px;
}

.jenis-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 15px;
}

.jenis-card {
  background: #fdfdfd;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out;
  line-height: 1.55;
}

.jenis-card h4 {
  color: #0d1563;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.jenis-card p {
  font-size: 14px;
  text-align: justify;
  color: #444;
  margin-bottom: 12px;
}

.jenis-card ul {
  padding-left: 20px;
}

.jenis-card li {
  font-size: 14px;
  color: #333;
  margin-bottom: 6px;
}

/* Hover efek */
.jenis-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

/* Mobile Responsive */
@media (max-width: 900px) {
  .jenis-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .info-container {
    padding: 20px 25px 40px;
  }
}

.step-card {
    width: 100%;
    max-width: none;
}
