body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #d4e4ff, #d5ccff);
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 50px 20px 10px;
    color: #111;
}

.header h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 8px;
    text-shadow: #333 2px 2px 4px;
}

.header p {
    font-size: 17px;
    color: #333;
    font-weight: 500;
}

/* TUTORIAL CARDS */
.tutorial-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px;
    padding: 30px 100px 60px;
    justify-items: center;
}

.step-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 25px;
    width: 100%;
    max-width: 330px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
}

.step-card:hover {
    transform: translateY(-5px);
}

.step-number {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 3px solid #090e63;
    color: #090e63;
    font-weight: 700;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.step-card img {
    width: 100%;
    border-radius: 12px;
    margin: 15px 0 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.step-card p {
    color: #333;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .tutorial-container {
        padding: 20px 30px;
        gap: 25px;
    }
}
